doctype html
head(lang="de")
    title Anmeldung Natur Sein - NaturQuelle La Palma
    include includes/head
body
    include includes/header
    nav
        div#navGrid
            div.navCell: a(href="wer-wir-sind.html") Wer wir sind
            div.navCellActive: a(href="angebote.html") Angebote
            div.navCell: a(href="impressionen.html") Impressionen
            div.navCell: a(href="mithilfe.html") Mithilfe
            div.navCell: a(href="empfehlungen.html") Empfehlungen
article#seminar
    div#seminarBlockAnmeldung
        img(src="img/natur-sein.jpg")
        h1
            | Anmeldung für
            | <br>Natur & Sein
        p
            | Zurück zur Natur
            | <br>Zurück zu meinem wahren Ich
        h4
            | <b>13. - 23. Mai 2019</b>
    h2 Kontaktformular
    p
        | Mit dem Eingang des Formulars prüfen wir die Verfügbarkeit von Plätzen und geben dir
        | dann Rückmeldung.
        | Erst nach Eingang der Seminar- und Verpflegungspauschale wird deine Anmeldung verbindlich.
        | <br><br>Du bist mit dem Abschicken des Formulars noch nicht verbindlich
        | zum Seminar angemeldet.
include includes/footer
