doctype html
head(lang="de")
    title Empfehlungen - NaturQuelle La Palma
    include includes/head
body
    include includes/header
    nav
        div#navGrid
            div.navCell: a(href="wer-wir-sind.html") Wer wir sind
            div.navCell: a(href="angebote.html") Angebote
            div.navCell: a(href="galerie.html") Galerie
            div.navCell: a(href="mithilfe.html") Mithilfe
            div.navCellActive: a(href="empfehlungen.html") Empfehlungen
            div.navCell: a(href="heilrezepte.html") Heilrezepte
            div.navCell: a(href="therapieformen.html") Therapieformen
article#empfehlungen
    h1 Interessante Links
    div(style="height: 110px")
        a(href="https://www.inspiriert-sein.de/")
            img(src="img/inspiriert-sein.png").floatedInspiriertSein
        p
            | <a href="https://www.inspiriert-sein.de/">Inspiriert sein</a>
            | <br>Impulse für ein gesundes und bewusstes Leben
    h1 Bücher
    h2 Andreas Moritz » Die wundersame Leber-& Gallenblasen Reinigung
    p Ein kraftvolles, selbst durchführbares Verfahren für mehr Gesundheit & Vitalität...
    h2 Viktoras Kulvinskas » Leben & Überleben, Kursbuch ins 21. Jahrhundert
    p Chlorophyll-Gras-Saft Herstellung-& Therapieformen, Sprossenzucht...
    h2 Dr. Med. Joachim Mutter » Lass dich nicht vergiften!
    p.
        Warum uns Schadstoffe chronisch krank machen & wie wir ihnen entkommen...
        Krankheiten vorbeugen, lindern & heilen
    h2 David Frawley » Ganzheitliche Heilung des Ayurveda-& Yoga-system
    p Praxisorientiertes Veda-Studium...
    h2 Christopher Zirkeldreher » Auf Ins Jetzt
    p
        | Ein Permakultur-Buch, was fast jedes Thema anschneidet, mit vielen Infos
        | und Inspirationen.

        | <br><br>Der Autor hat sein Wissen durch langjährige Reisen,
        | oftmals geld-frei, erworben und ist mit Vorträgen und Workshops in Deutschland aktiv.

        | <br><br><a href="https://zdgarten.jimdo.com">Homepage vom Autor</a>

        | <br><br><a href="https://aufinsjetzt.jimdo.com">Homepage zum 'Auf Ins Jetzt' Buch</a>
    h1 Gemeinschaft und Gruppen
    h2 Yoga Vidya
    p
        | Europas größtes Yoga- und Meditationszentrum mit Großzahl an Seminaren
        | und Ausbildungen.

        | <br><br>Viele alternative Menschen und sehr gute bio-vegane Küche.

        | <br><br><a href="https://www.yoga-vidya.de">yoga-vidya.de</a>
include includes/footer
