doctype html
head(lang="de")
    title Empfehlungen - NaturQuelle La Palma
    include includes/head
body
    include includes/header
    nav
        div#navGrid
            div.navCell: a(href="wer-wir-sind.html") Wer wir sind
            div.navCell: a(href="angebote.html") Angebote
            div.navCell: a(href="galerie.html") Galerie
            div.navCell: a(href="mithilfe.html") Mithilfe
            div.navCellActive: a(href="empfehlungen.html") Empfehlungen
            div.navCell: a(href="heilrezepte.html") Heilrezepte
            div.navCell: a(href="therapieformen.html") Therapieformen
article#empfehlungen
    h1 Bücher
    h2 Andreas Moritz » Die wundersame Leber-& Gallenblase Reinigung
    p Ein kraftvolles, selbst durchführbares Verfahren für mehr Gesundheit & Vitalität...
    h2 Viktoras Kulvinskas » Leben & Überleben, Kursbuch ins 21Jarhundert
    p Chlorophyll-Gras-Saft Herstellung-& Therapieformen, Sprossenzucht...
    h2 Dr. Med. Joachim Mutter » Lass dich nicht vergiften!
    p.
        Warum uns Schadstoffe chronisch krank machen & wie wir ihnen entkommen...
        Krankheiten vorbeugen, lindern & heilen
    h2 David Frawley » Bücher/ Ganzheitliche Heilung des Ayurveda-& Yoga-system
    p Praxisorientiertes Veda-Studium...
    h2 Be Here Now
    p
        | Ein spiritueller Wegweiser, in den man immer mal wieder reinblättern kann.

        | <br><br>Sehr empfehlenswert für Interessenten, die einen Einblick in die Yoga
        | Philosophie haben wollen.

        | <br><br><a href="https://en.wikipedia.org/wiki/Be_Here_Now_(book)">Wikipedia Link</a>
    h2 Anastasia
    p
        | von Wladimir Megre (Originalausgabe in Russisch)

        | <br><br>Eine Buchserie, die uns, Dimitri und Alicia, zutiefst berührt hat und uns mit
        | enorm viel Vertrauen in die Schwangerschaft hinein gebracht hat.
        | <br>Es geht um eine Einsiedlerin in der russischen Taiga, die so in Einklang mit
        | der Natur lebt, dass alle 'technologischen Errungenschaften' nicht notwending sind.

        | <br><br>Heutzutage ist die komplette Buchserie neu wirklich selten geworden, allerdings
        | gibt es die Bücher als PDFs in deutscher Sprache hier runterzuladen:
        | <a href="http://www.amoworkgroups.com/?p=3224">amoworkgroups.com/?p=3224</a>

        | <br><br><a href="https://de.wikipedia.org/wiki/Anastasia_(Buchreihe)">Wikipedia Link</a>
    h2 Auf Ins Jetzt
    p
        | Ein Permakultur-Buch, was fast jedes Thema anschneidet, mit vielen Infos
        | und Inspirationen.

        | <br><br>Der Autor, Christopher Zirkeldreher, hat sein Wissen durch langjährige Reisen,
        | oftmals geld-frei, erworben und ist mit Vorträgen und Workshops in Deutschland aktiv.

        | <br><br><a href="https://zdgarten.jimdo.com">Homepage vom Autor</a>

        | <br><br><a href="https://aufinsjetzt.jimdo.com">Homepage zum 'Auf Ins Jetzt' Buch</a>
    h1 Gemeinschaft und Gruppen
    h2 Yoga Vidya
    p
        | Europas größtes Yoga- und Meditationszentrum mit Großzahl an Seminaren
        | und Ausbildungen.

        | <br><br>Viele alternative Menschen und sehr gute bio-vegane Küche.

        | <br><br><a href="https://www.yoga-vidya.de">yoga-vidya.de</a>
    h2 Raum der Klänge
    p.
        Sehr schöne Kakaozeremonien, in denen Mantren gesungen werden.

        <br><br>Die Gruppe ist unter anderem in Bielefeld und Köln aktiv.

        <br><br><a href="https://www.facebook.com/raumderklaenge">facebook.com/raumderklaenge</a>
include includes/footer
