doctype html
head(lang="de")
    title NaturQuelle La Palma - Seminare
    include includes/head
body
    include includes/header
    nav
        div#navGrid
            div.navCell: a(href="wer-wir-sind.html") Wer wir sind
            div.navCellActive: a(href="angebote.html") Angebote
            div.navCell: a(href="impressionen.html") Impressionen
            div.navCell: a(href="mithilfe.html") Mithilfe
            div.navCell: a(href="empfehlungen.html") Empfehlungen
article#seminare
    a(href="seminare/natur-sein.html")
        div
            img(src="img/von-handy/good/natur-sein.jpg")
            h1 Natur & Sein
            p
                | Zurück zum Ursprung
                | <br>Zurück zu meinem wahren Ich
    a(href="seminare/seminar-frohkost.html")
        div
            img(src="img/von-handy/good/smoothie.jpg")
            h1 (F)rohkost :)
            p
                | Roh Essen & froh Sein
    a(href="seminare/yin-yoga.html")
        div
            img(src="img/von-handy/good/yin-yoga.jpg")
            h1 Yin Yoga & Meditation
            p
                | Loslassen & frei Sein
include includes/footer
