doctype html
head(lang="de")
    title Galerie - NaturQuelle La Palma
    include includes/head
body
    include includes/header
    nav
        div#navGrid
            div.navCell: a(href="wer-wir-sind.html") Wer wir sind
            div.navCell: a(href="angebote.html") Angebote
            div.navCellActive: a(href="galerie.html") Galerie
            div.navCell: a(href="mithilfe.html") Mithilfe
            div.navCell: a(href="empfehlungen.html") Empfehlungen
            div.navCell: a(href="heilrezepte.html") Heilrezepte
            div.navCell: a(href="therapieformen.html") Therapieformen
article#impressionen
    h2 Wir sind's! Die Höhlenmenschen.
    a(href="img/galerie/us-three.jpg")
        img(src="img/galerie/us-three.jpg")
    a(href="img/galerie/stairs.jpg")
        img(src="img/galerie/stairs.jpg")
    a(href="img/galerie/banana-mandarin.jpg")
        img(src="img/galerie/banana-mandarin.jpg")
    a(href="img/mandala1.jpg")
        img(src="img/mandala1.jpg")
    a(href="img/mandala2.jpg")
        img(src="img/mandala2.jpg")
    a(href="img/galerie/woman.jpg")
        img(src="img/galerie/woman.jpg")
    a(href="img/galerie/lizards.jpg")
        img(src="img/galerie/lizards.jpg")
    h2 Das Ergebnis nach meiner Leber- Gallenblasenreinigung.
    a(href="img/galerie/leber-gallen-reinigung-resultat.jpg")
        img(src="img/galerie/leber-gallen-reinigung-resultat.jpg")
    a(href="img/galerie/long-view-towards-witch-house.jpg")
        img(src="img/galerie/long-view-towards-witch-house.jpg")
    a(href="img/galerie/cliff.jpg")
        img(src="img/galerie/cliff.jpg")
    h2 Alicia bei der Holzkohle-Verarbeitung.
    a(href="img/galerie/hard-work.jpg")
        img(src="img/galerie/hard-work.jpg")
    a(href="img/galerie/other-side.jpg")
        img(src="img/galerie/other-side.jpg")
    a(href="img/galerie/four-smoothies.jpg")
        img(src="img/galerie/four-smoothies.jpg")
    a(href="img/galerie/bananen-bluete.jpg")
        img(src="img/galerie/bananen-bluete.jpg")
    a(href="img/galerie/hoehle-ausblick.jpg")
        img(src="img/galerie/hoehle-ausblick.jpg")
    a(href="img/galerie/kaktusfeige-bluete.jpg")
        img(src="img/galerie/kaktusfeige-bluete.jpg")
    a(href="img/galerie/libelle-auf-kristall.jpg")
        img(src="img/galerie/libelle-auf-kristall.jpg")
    a(href="img/galerie/strelizie-bluete.jpg")
        img(src="img/galerie/strelizie-bluete.jpg")
include includes/footer
