doctype html
head(lang="de")
    title Galerie - NaturQuelle La Palma
    link(href='https://cdn.rawgit.com/sachinchoolur/lightgallery.js/master/dist/css/lightgallery.css', rel='stylesheet')
    link(href="https://cdnjs.cloudflare.com/ajax/libs/justifiedGallery/3.7.0/css/justifiedGallery.min.css", rel="stylesheet")
    include includes/head
body
    include includes/header
    nav
        div#navGrid
            div.navCell: a(href="wer-wir-sind.html") Wer wir sind
            div.navCell: a(href="angebote.html") Angebote
            div.navCellActive: a(href="galerie.html") Galerie
            div.navCell: a(href="mithilfe.html") Mithilfe
            div.navCell: a(href="empfehlungen.html") Empfehlungen
            div.navCell: a(href="heilrezepte.html") Heilrezepte
            div.navCell: a(href="therapieformen.html") Therapieformen
article#impressionen
    #lightgallery
        a(href="img/galerie/strelizie-bluete.jpg")
            img(src="img/galerie/thumbs/strelizie-bluete.jpg")

        a(href="img/galerie/long-view-towards-witch-house.jpg")
            img(src="img/galerie/thumbs/long-view-towards-witch-house.jpg")

        a(href="img/galerie/hoehle-ausblick.jpg")
            img(src="img/galerie/thumbs/hoehle-ausblick.jpg")

        a(href="img/galerie/kaktusfeige-bluete.jpg")
            img(src="img/galerie/thumbs/kaktusfeige-bluete.jpg")

        a(href="img/galerie/banana-mandarin.jpg")
            img(src="img/galerie/thumbs/banana-mandarin.jpg")

        a(href="img/galerie/libelle-auf-kristall.jpg")
            img(src="img/galerie/thumbs/libelle-auf-kristall.jpg")

        a(href="img/galerie/leber-gallen-reinigung-resultat.jpg" data-sub-html='<h4>Das Ergebnis nach meiner Leber- Gallenblasenreinigung</h4>')
            img(alt="Das Ergebnis nach meiner Leber- Gallenblasenreinigung" src="img/galerie/thumbs/leber-gallen-reinigung-resultat.jpg")

        a(href="img/galerie/lizards.jpg")
            img(src="img/galerie/thumbs/lizards.jpg")

        a(href="img/galerie/bananen-bluete.jpg")
            img(src="img/galerie/thumbs/bananen-bluete.jpg")

        a(href="img/galerie/other-side.jpg")
            img(src="img/galerie/thumbs/other-side.jpg")

        a(href="img/galerie/cliff.jpg")
            img(src="img/galerie/thumbs/cliff.jpg")

        a(href="img/galerie/cave.jpg")
            img(src="img/galerie/thumbs/cave.jpg")



        a(href="img/galerie/new/IMG-20190623-WA0001.jpg")
            img(src="img/galerie/new/thumbs/IMG-20190623-WA0001.jpg")


        a(href="img/galerie/new/IMG-20190623-WA0002.jpg")
            img(src="img/galerie/new/thumbs/IMG-20190623-WA0002.jpg")


        a(href="img/galerie/new/IMG-20190623-WA0003.jpg")
            img(src="img/galerie/new/thumbs/IMG-20190623-WA0003.jpg")


        a(href="img/galerie/new/IMG-20190623-WA0004.jpg")
            img(src="img/galerie/new/thumbs/IMG-20190623-WA0004.jpg")




        a(href="img/galerie/new/IMG-20190623-WA0006.jpg")
            img(src="img/galerie/new/thumbs/IMG-20190623-WA0006.jpg")


        a(href="img/galerie/new/IMG-20190623-WA0007.jpg")
            img(src="img/galerie/new/thumbs/IMG-20190623-WA0007.jpg")


        a(href="img/galerie/new/IMG-20190623-WA0009.jpg")
            img(src="img/galerie/new/thumbs/IMG-20190623-WA0009.jpg")


        a(href="img/galerie/new/IMG-20190623-WA0010.jpg" data-sub-html="<h4>Terrassenbau</h4>")
            img(alt="Terrassenbau" src="img/galerie/new/thumbs/IMG-20190623-WA0010.jpg")

        a(href="img/galerie/new/IMG-20190623-WA0017.jpg")
            img(src="img/galerie/new/thumbs/IMG-20190623-WA0017.jpg")

        a(href="img/galerie/new/IMG-20190623-WA0021.jpg")
            img(src="img/galerie/new/thumbs/IMG-20190623-WA0021.jpg")

        a(href="img/galerie/new/IMG-20190623-WA0063.jpg")
            img(src="img/galerie/new/thumbs/IMG-20190623-WA0063.jpg")

        a(href="img/galerie/new/IMG-20190623-WA0054.jpg")
            img(src="img/galerie/new/thumbs/IMG-20190623-WA0054.jpg")

        a(href="img/galerie/new/IMG-20190623-WA0046.jpg" data-sub-html="<h4>Terrassen Permakultur</h4>")
            img(alt='Terrassen Permakultur' src="img/galerie/new/thumbs/IMG-20190623-WA0046.jpg")


        a(href="img/galerie/new/IMG-20190623-WA0011.jpg" data-sub-html="<h4>Löffel Workshop</h4>")
            img(alt="Löffel Workshop" src="img/galerie/new/thumbs/IMG-20190623-WA0011.jpg")

        a(href="img/galerie/new/IMG-20190623-WA0019.jpg")
            img(src="img/galerie/new/thumbs/IMG-20190623-WA0019.jpg")


        a(href="img/galerie/new/IMG-20190623-WA0012.jpg")
            img(src="img/galerie/new/thumbs/IMG-20190623-WA0012.jpg")


        a(href="img/galerie/new/IMG-20190623-WA0013.jpg")
            img(src="img/galerie/new/thumbs/IMG-20190623-WA0013.jpg")


        a(href="img/galerie/new/IMG-20190623-WA0014.jpg")
            img(src="img/galerie/new/thumbs/IMG-20190623-WA0014.jpg")


        a(href="img/galerie/new/IMG-20190623-WA0015.jpg" data-sub-html="<h4>EM Mikroorganismen Herstellung</h4>")
            img(alt="EM Mikroorganismen Herstellung" src="img/galerie/new/thumbs/IMG-20190623-WA0015.jpg")

        a(href="img/galerie/new/IMG-20190623-WA0028.jpg")
            img(src="img/galerie/new/thumbs/IMG-20190623-WA0028.jpg")


        a(href="img/galerie/new/IMG-20190623-WA0016.jpg" data-sub-html="<h4>Liver flush / Gallenstein-Ausleitung nach 'Andreas Moritz'</h4>")
            img(alt="Liver flush / Gallenstein-Ausleitung nach 'Andreas Moritz'" src="img/galerie/new/thumbs/IMG-20190623-WA0016.jpg")





        a(href="img/galerie/new/IMG-20190623-WA0020.jpg")
            img(src="img/galerie/new/thumbs/IMG-20190623-WA0020.jpg")




        a(href="img/galerie/new/IMG-20190623-WA0022.jpg" data-sub-html="<h4>Sahara Klima</h4>")
            img(alt="Sahara Klima" src="img/galerie/new/thumbs/IMG-20190623-WA0022.jpg")




        a(href="img/galerie/new/IMG-20190623-WA0024.jpg" data-sub-html="<h4>Sonnentrockner auf Piniennadeln</h4>")
            img(alt='Sonnentrockner auf Piniennadeln' src="img/galerie/new/thumbs/IMG-20190623-WA0024.jpg")


        a(href="img/galerie/new/IMG-20190623-WA0025.jpg")
            img(src="img/galerie/new/thumbs/IMG-20190623-WA0025.jpg")




        a(href="img/galerie/new/IMG-20190623-WA0027.jpg")
            img(src="img/galerie/new/thumbs/IMG-20190623-WA0027.jpg")




        a(href="img/galerie/new/IMG-20190623-WA0029.jpg")
            img(src="img/galerie/new/thumbs/IMG-20190623-WA0029.jpg")


        a(href="img/galerie/new/IMG-20190623-WA0030.jpg")
            img(src="img/galerie/new/thumbs/IMG-20190623-WA0030.jpg")


        a(href="img/galerie/new/IMG-20190623-WA0031.jpg")
            img(src="img/galerie/new/thumbs/IMG-20190623-WA0031.jpg")


        a(href="img/galerie/new/IMG-20190623-WA0032.jpg")
            img(src="img/galerie/new/thumbs/IMG-20190623-WA0032.jpg")


        a(href="img/galerie/new/IMG-20190623-WA0033.jpg")
            img(src="img/galerie/new/thumbs/IMG-20190623-WA0033.jpg")


        a(href="img/galerie/new/IMG-20190623-WA0034.jpg" data-sub-html="<h4>Swastik-Power \"Regentanz-Symbolik\"</h4>")
            img(alt='Swastik-Power "Regentanz-Symbolik"' src="img/galerie/new/thumbs/IMG-20190623-WA0034.jpg")


        a(href="img/galerie/new/IMG-20190623-WA0035.jpg")
            img(src="img/galerie/new/thumbs/IMG-20190623-WA0035.jpg")


        a(href="img/galerie/new/IMG-20190623-WA0036.jpg")
            img(src="img/galerie/new/thumbs/IMG-20190623-WA0036.jpg")




        a(href="img/galerie/new/IMG-20190623-WA0038.jpg")
            img(src="img/galerie/new/thumbs/IMG-20190623-WA0038.jpg")


        a(href="img/galerie/new/IMG-20190623-WA0039.jpg")
            img(src="img/galerie/new/thumbs/IMG-20190623-WA0039.jpg")


        a(href="img/galerie/new/IMG-20190623-WA0040.jpg" data-sub-html="<h4>Sunny-Nude-Yoga</h4>")
            img(alt='Sunny-Nude-Yoga' src="img/galerie/new/thumbs/IMG-20190623-WA0040.jpg")


        a(href="img/galerie/new/IMG-20190623-WA0041.jpg")
            img(src="img/galerie/new/thumbs/IMG-20190623-WA0041.jpg")


        a(href="img/galerie/new/IMG-20190623-WA0042.jpg")
            img(src="img/galerie/new/thumbs/IMG-20190623-WA0042.jpg")


        a(href="img/galerie/new/IMG-20190623-WA0037.jpg")
            img(src="img/galerie/new/thumbs/IMG-20190623-WA0037.jpg")

        a(href="img/galerie/new/IMG-20190623-WA0023.jpg" data-sub-html="<h4>Brami</h4>")
            img(alt='Brami' src="img/galerie/new/thumbs/IMG-20190623-WA0023.jpg")

        a(href="img/galerie/new/IMG-20190623-WA0026.jpg" data-sub-html="<h4>Azteken Süßkraut</h4>")
            img(alt='Azteken Süßkraut' src="img/galerie/new/thumbs/IMG-20190623-WA0026.jpg")

        a(href="img/galerie/new/IMG-20190623-WA0043.jpg" data-sub-html="<h4>Peyote Kaktus</h4>")
            img(alt='Peyote Kaktus' src="img/galerie/new/thumbs/IMG-20190623-WA0043.jpg")



        a(href="img/galerie/new/IMG-20190623-WA0044.jpg" data-sub-html="<h4>Sunset Yoga</h4>")
            img(alt='Sunset Yoga' src="img/galerie/new/thumbs/IMG-20190623-WA0044.jpg")


        a(href="img/galerie/new/IMG-20190623-WA0045.jpg")
            img(src="img/galerie/new/thumbs/IMG-20190623-WA0045.jpg")






        a(href="img/galerie/new/IMG-20190623-WA0048.jpg")
            img(src="img/galerie/new/thumbs/IMG-20190623-WA0048.jpg")


        a(href="img/galerie/new/IMG-20190623-WA0049.jpg")
            img(src="img/galerie/new/thumbs/IMG-20190623-WA0049.jpg")


        a(href="img/galerie/new/IMG-20190623-WA0050.jpg")
            img(src="img/galerie/new/thumbs/IMG-20190623-WA0050.jpg")



        a(href="img/galerie/new/IMG-20190623-WA0051.jpg" data-sub-html="<h4>Curryleaf</h4>")
            img(alt='Curryleaf' src="img/galerie/new/thumbs/IMG-20190623-WA0051.jpg")

        a(href="img/galerie/new/IMG-20190623-WA0052.jpg" data-sub-html="<h4>Schafgarbe</h4>")
            img(alt='Schafgarbe' src="img/galerie/new/thumbs/IMG-20190623-WA0052.jpg")

        a(href="img/galerie/new/IMG-20190623-WA0047.jpg" data-sub-html="<h4>Wilder kanarischer Knoblauch</h4>")
            img(alt='Wilder kanarischer Knoblauch' src="img/galerie/new/thumbs/IMG-20190623-WA0047.jpg")



        a(href="img/galerie/new/IMG-20190623-WA0053.jpg")
            img(src="img/galerie/new/thumbs/IMG-20190623-WA0053.jpg")




        a(href="img/galerie/new/IMG-20190623-WA0055.jpg")
            img(src="img/galerie/new/thumbs/IMG-20190623-WA0055.jpg")


        a(href="img/galerie/new/IMG-20190623-WA0056.jpg" data-sub-html="<h4>Smoothie Mandala</h4>")
            img(alt='Smoothie Mandala' src="img/galerie/new/thumbs/IMG-20190623-WA0056.jpg")


        a(href="img/galerie/new/IMG-20190623-WA0057.jpg")
            img(src="img/galerie/new/thumbs/IMG-20190623-WA0057.jpg")


        a(href="img/galerie/new/IMG-20190623-WA0058.jpg")
            img(src="img/galerie/new/thumbs/IMG-20190623-WA0058.jpg")


        a(href="img/galerie/new/IMG-20190623-WA0059.jpg" data-sub-html="<h4>Kaktusfrucht</h4>")
            img(alt='Kaktusfrucht' src="img/galerie/new/thumbs/IMG-20190623-WA0059.jpg")


        a(href="img/galerie/new/IMG-20190623-WA0060.jpg" data-sub-html="<h4>Lubrikator</h4>")
            img(alt='Lubrikator' src="img/galerie/new/thumbs/IMG-20190623-WA0060.jpg")


        a(href="img/galerie/new/IMG-20190623-WA0061.jpg")
            img(src="img/galerie/new/thumbs/IMG-20190623-WA0061.jpg")


        a(href="img/galerie/new/IMG-20190623-WA0062.jpg")
            img(src="img/galerie/new/thumbs/IMG-20190623-WA0062.jpg")




        a(href="img/galerie/new/IMG-20190623-WA0064.jpg")
            img(src="img/galerie/new/thumbs/IMG-20190623-WA0064.jpg")


        a(href="img/galerie/new/IMG-20190623-WA0065.jpg")
            img(src="img/galerie/new/thumbs/IMG-20190623-WA0065.jpg")

include includes/footer
// required for justifiedGallery and the lightgallery plugins
script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
script(src='https://cdn.rawgit.com/sachinchoolur/lightgallery.js/master/dist/js/lightgallery.js')
script(src='https://cdn.rawgit.com/sachinchoolur/lg-fullscreen.js/master/dist/lg-fullscreen.js')
script(src='https://cdn.rawgit.com/sachinchoolur/lg-zoom.js/master/dist/lg-zoom.js')
script(src='https://cdn.rawgit.com/sachinchoolur/lg-thumbnail.js/master/dist/lg-thumbnail.js')
script(src="https://cdnjs.cloudflare.com/ajax/libs/justifiedGallery/3.7.0/js/jquery.justifiedGallery.min.js")
script(src="js/init-gallery.js")