doctype html
head(lang="de")
    title Gallerie - NaturQuelle La Palma
    include includes/head
body
    include includes/header
    nav
        div#navGrid
            div.navCell: a(href="wer-wir-sind.html") Wer wir sind
            div.navCell: a(href="angebote.html") Angebote
            div.navCellActive: a(href="gallerie.html") Gallerie
            div.navCell: a(href="mithilfe.html") Mithilfe
            div.navCell: a(href="empfehlungen.html") Empfehlungen
article#impressionen
    a(href="img/gallerie/stairs.jpg")
        img(src="img/gallerie/stairs.jpg")
    a(href="img/gallerie/banana-mandarin.jpg")
        img(src="img/gallerie/banana-mandarin.jpg")
    a(href="img/gallerie/lizards.jpg")
        img(src="img/gallerie/lizards.jpg")
    a(href="img/gallerie/long-view-towards-witch-house.jpg")
        img(src="img/gallerie/long-view-towards-witch-house.jpg")
    a(href="img/gallerie/guarded-plants.jpg")
        img(src="img/gallerie/guarded-plants.jpg")
    a(href="img/gallerie/cliff.jpg")
        img(src="img/gallerie/cliff.jpg")
    a(href="img/gallerie/hard-work.jpg")
        img(src="img/gallerie/hard-work.jpg")
    a(href="img/gallerie/other-side.jpg")
        img(src="img/gallerie/other-side.jpg")
    a(href="img/gallerie/four-smoothies.jpg")
        img(src="img/gallerie/four-smoothies.jpg")
    a(href="img/gallerie/bananen-bluete.jpg")
        img(src="img/gallerie/bananen-bluete.jpg")
    a(href="img/gallerie/hoehle-ausblick.jpg")
        img(src="img/gallerie/hoehle-ausblick.jpg")
    a(href="img/gallerie/jens-vor-blueten.jpg")
        img(src="img/gallerie/jens-vor-blueten.jpg")
    a(href="img/gallerie/kaktusfeige-bluete.jpg")
        img(src="img/gallerie/kaktusfeige-bluete.jpg")
    a(href="img/gallerie/libelle-auf-kristall.jpg")
        img(src="img/gallerie/libelle-auf-kristall.jpg")
    a(href="img/gallerie/strelizie-bluete.jpg")
        img(src="img/gallerie/strelizie-bluete.jpg")
include includes/footer
