doctype html
head(lang="de")
    title Heilrezepte zur Entgiftung - NaturQuelle La Palma
    include includes/head
body
    include includes/header
    nav
        div#navGrid
            div.navCell: a(href="wer-wir-sind.html") Wer wir sind
            div.navCell: a(href="angebote.html") Angebote
            div.navCell: a(href="galerie.html") Galerie
            div.navCell: a(href="mithilfe.html") Mithilfe
            div.navCell: a(href="empfehlungen.html") Empfehlungen
            div.navCellActive: a(href="heilrezepte.html") Heilrezepte
            div.navCell: a(href="therapieformen.html") Therapieformen
article
    p.
        Unterstütze deine Selbstheilungskräfte & deine Verjüngung!
        <br>Mit all diesen täglichen, einfachen Therapievorschlägen, arbeiten wir seit Jahren mit positivem Energiegewinn...
    h2 < naturelle Impfung > Heil-Nahrung
    h3 Chlorophyll Energiegetränk
    p.
        Wildgräser / Wildkräuter / Baumblätter 
        <br>Gräser & Kräuter im Morgentau, bevor die Sonnenstrahlen sie erreichen, mit deinen Fingernägeln oder einem Keramikmesser abernten.
        <br>In einen guten Entsafter (z. B. Angeljuicer) o. mit Handarbeit in einen Steinmörser geben & zerklopfen / mit etwas Quellwasser zerreiben, durch ein Hanfsäcklein pressen...
        <br>Das Alfalfa-Grün (Kleesorte) hat sehr tiefe Wurzeln, die Mineralien aus der Erdmutter lösen können.
        <br>Wir sammeln unsere Wildkräuter im Waldbereich mit humusreichem Boden, der alle wichtigen Mineralien & Spurenelementen zur Verfügung stellt!
    img(src="img/hand-juicing.jpg").largeImg
    h3.
        Chlorophyll Smoothie "Ayurvedisch" 🕉️
        <br>(süß, sauer, scharf, salzig, herb, bitter, zusammenziehend)
    p.
        Wildkräuter/ junge Baumblätter-Mischung aller Geschmacksempfindungen.
        <br>Bevor die Sonnenstrahlen die zarten Blätter erreichen, mit den Fingernägel oder einem Keramikmesser abernten. Rasch in einen Hochgeschwindigkeits-Mixer geben & zusammen mit frischen saisonalen Früchten, ca. eine Minute zermixen.
        <br><br>Damit es optimal bioverfügbar wird. Mischungsverhältnis: Wildkräuter, Baumblätter / frische Früchte  3:1
        <br>Da das wichtige Einspeicheln / kauen nicht vergessen werden darf, wäre es von Vorteil, den Smoothie noch reichlich mit Früchtestückchen & Blümchen zu garnieren, sodass ein kunterbuntes Mandala entsteht.
        <br><br>Zum Schluss kannst du deine kosmische Nahrung mit einem Mantra segnen...
    .flexGalleryGrid2x2
        .flexGalleryCell2x2
            a(href="img/smoothie1.jpg")
                img(src="img/smoothie1.jpg")
        .flexGalleryCell2x2
            a(href="img/smoothie2.jpg")
                img(src="img/smoothie2.jpg")
        .flexGalleryCell2x2
            a(href="img/smoothie3.jpg")
                img(src="img/smoothie3.jpg")
        .flexGalleryCell2x2
            a(href="img/smoothie4.jpg")
                img(src="img/smoothie4.jpg")
    h3 Moor-Pulver/ alte abgestorbene Humusböden, sind mineralienreich & enthalten Huminsäure, welche Roundup-Monsanto-Gifte ausleiten können!!!
    h3 Zellreinigendes Ayurvedisches Heilwasser
    p.
        Einen Kupferkessel über Nacht mit Quellwasser (o. gefilterten Trinkwasser) befüllen.
        <br>Am nächsten Morgen ca. 15 Minuten köcheln lasen, evtl. abfüllen (optimal in Glasthermoskanne) und tagsüber lauwarm zu sich nehmen.
        <br>Kann auch zur Einnahme von Nahrungsergänzung / Mineralien lauwarm verwendet werden, um es tiefer in die Körpergewebezellen zu transportieren...
    h3 Natürliche Probiotika (Darmgesundheit)!!!
    ul
        li.
            Baum-Harz-Tee...(Veganes Propolis)
            <br>Baumharz (Kiefer, Fichte, ect.) mit lauwarmen Quellwasser übergießen, über Nacht ziehen lassen, durch ein Teesieb filtern
        li.
            selbst produziertes Sauer-Kraut mit Himalaya Kristallsalz... (Milchsäurebakterien)
include includes/footer
