doctype html
head(lang="de")
    title Impressionen - NaturQuelle La Palma
    include includes/head
body
    include includes/header
    nav
        div#navGrid
            div.navCell: a(href="wer-wir-sind.html") Wer wir sind
            div.navCell: a(href="angebote.html") Angebote
            div.navCellActive: a(href="impressionen.html") Impressionen
            div.navCell: a(href="mithilfe.html") Mithilfe
            div.navCell: a(href="empfehlungen.html") Empfehlungen
article#impressionen
    a(href="img/impressionen/6.jpg")
        img(src="img/impressionen/6.jpg")
    a(href="img/impressionen/4.jpg")
        img(src="img/impressionen/4.jpg")
    a(href="img/impressionen/lizards.jpg")
        img(src="img/impressionen/lizards.jpg")
    a(href="img/impressionen/long-view-towards-witch-house.jpg")
        img(src="img/impressionen/long-view-towards-witch-house.jpg")
    a(href="img/impressionen/3.jpg")
        img(src="img/impressionen/3.jpg")
    a(href="img/impressionen/2.jpg")
        img(src="img/impressionen/2.jpg")
    a(href="img/impressionen/9.jpg")
        img(src="img/impressionen/9.jpg")
    a(href="img/impressionen/5.jpg")
        img(src="img/impressionen/5.jpg")
    a(href="img/impressionen/7.jpg")
        img(src="img/impressionen/7.jpg")
include includes/footer
