doctype html
head(lang="de")
    title NaturQuelle La Palma
    include includes/head
body
    include includes/header
    nav
        div#navGrid
            div.navCell: a(href="wer-wir-sind.html") Wer wir sind
            div.navCell: a(href="angebote.html") Angebote
            div.navCell: a(href="galerie.html") Galerie
            div.navCell: a(href="mithilfe.html") Mithilfe
            div.navCell: a(href="empfehlungen.html") Empfehlungen
            div.navCell: a(href="heilrezepte.html") Heilrezepte
            div.navCell: a(href="therapieformen.html") Therapieformen
article#index
    h1.
        Zurück zur Heilquelle:
        <br>Ein Leben mit und in der wilden Natur
    p.
        Wir begrüßen dich herzlich auf unserer Seite und hoffen, dass du Inspirationen und Eindrücke für dich mitnehmen kannst🙏

        <br><br>Dieser Kraftplatz auf dem wir Energie & Bewußtsein vermehren, uns heilen dürfen, liegt auf der Atlantischen    Insel La Palma. Hier herrschen spezielle Vulkanenergien & Urkräfte. Dort leben wir unter freiem Himmel & Höhlen in einem Pinienwald Baranko, der Guanchen (Ureinwohner) Burakas...

        <br><br>Naturnahe & spirituellen Lebensweisen, auf diesem Energieplatz, ermöglichen euch gesundes wachstum, Selbstliebe, Bewußtseins Sprünge...

    .flexGalleryGrid2x2
        .flexGalleryCell2x2
            a(href="img/mandala3.jpg")
                img(src="img/mandala3.jpg")
        .flexGalleryCell2x2
            a(href="img/mandala4.jpg")
                img(src="img/mandala4.jpg")
    h2 Permakultur-Kreisläufe intrigierte-Lebensweise

    ul
        li.
            Wir waschen unseren Körper mit reinem Bergwasser, ohne Seifen ect. ganz natürlich draussen in der freien Natur unter den Bananen...

        li.
            Das Geschirr wird genauso wie wir, auch nur mit Holzasche gespült.

        li.
            Unsere Körperausscheidungen kommen getrennt ins Kompost- Klo, der wiederum zu Humus unter die Bäume verteilt, bzw. in ein grosses Erdloch, wo später ein Fruchtbaum gepflanzt wird.

        li.
            Das fast ganzjährig sonnige Wetter lässt es zu, dass wir die Sonne überall auf der nackten Haut genießen dürfen. (nude-sun-yoga) ist erwünscht!

        li.
            Vegetarische Verment Rohkost aus unserem wildgarten stehen im Vordergrund. Da die Fruchtbäumchen teilweise noch klein sind, erwerben wir zusätzlich unsere Paradieskost von regionalen Bio Bauern & sammeln natürlich verschiedenste sesonale Wildfrüchte, in unserem Wald.

        li.
            Energetisch gefiltertes Vulkan Bergwasser, ist ein weiterer Schlüssel zur Selbstheilung, genauso wie die tägliche
            Wildkräuter Chlorophyll aufnahme.

    h2 Unsere Philosophie
    img(src="img/yogic.jpg").floatedRightImg
    p.
        Das Grundprinzip gibt einen psychologisches Fundament, welches aus Permakultur-kreislauf Techniken kombiniert mit dem Yoga-philosophy Systemen und den daraus folgenden Selbstheilungs Mechanismen entsteht.
        <br>Mit vielen Freiräumen...
        <br>Diese in dir zum Gestalten & um dich besser kennenzulernen. Dich selbst annehmen zu können, dadurch Selbstliebe in dir zu erspühren, um gleichermaßen deine Selbstheilung zu aktivieren, wodurch wir selbstbestimmt handeln können & in Eigenverantwortung gehen.
        <br>Um dem materiell geprägten, "krankhaften" Konsumentenverhalten zu entkommen, ist ein Leben im Einklang, mit der Natur (Erdmutter & Allvater) notwendig. Nur so, kann ein "gesunder" natürlicher Kreislauf in & um uns entstehen.

        <br><br>Wir versuchen, durch die intensive Beobachtung, den Dinge der NATUR, zu KAPIEREN (Achtsamkeit)!
        Um die NATUR dann, zu COPIEREN. (Bewustsamkeit)!

        <br><br>Aus diesem natürlichen Ursprung heraus, die Urkräfte in uns, Alls-heilung zu erfahren...

include includes/footer
