doctype html
head(lang="de")
    title NaturQuelle La Palma
    include includes/head
body
    include includes/header
    nav
        div#navGrid
            div.navCell: a(href="wer-wir-sind.html") Wer wir sind
            div.navCell: a(href="angebote.html") Angebote
            div.navCell: a(href="galerie.html") Galerie
            div.navCell: a(href="mithilfe.html") Mithilfe
            div.navCell: a(href="empfehlungen.html") Empfehlungen
            div.navCell: a(href="heilrezepte.html") Heilrezepte
            div.navCell: a(href="therapieformen.html") Therapieformen
article#index
    h1.
        Zurück zur Heilquelle:
        <br>Ein Leben mit und in der wilden Natur
    p.
        Wir begrüßen dich herzlich auf unserer Seite und hoffen, dass du Inspirationen und
        Eindrücke für dich mitnehmen kannst.

        <br><br>Dieser Kraftplatz auf dem wir gedeihen und uns heilen dürfen,
        liegt auf der wunderschönen Insel La Palma.
        <br>Hier herrschen spezielle Vulkanenergien & Urkräfte.
        <br>Diese Insel gehört zu dem damaligen Atlantis.
        <br>Dort befinden wir uns in einer Schlucht in der Nähe des bekannten
        Drachenbaum-Wanderweges "Buracas" unterhalb des Dorfes Las Tricias
        auf 550 Meter Meeresspiegel, Sonnenuntergang.

        <br><br>Die Guanchen (Ureinwohner) lebten hier in diesem Baranco,
        in Höhlen-Labyrinthen & hinterließen überall ihre Spuren.

        <br><br>Durch unsere täglichen, naturnahen & spirituellen Lebensweisen
        auf diesem Energieplatz, ist alles etwas anders als du es vielleicht gewohnt bist!
    .flexGalleryGrid2x2
        .flexGalleryCell2x2
            a(href="img/mandala3.jpg")
                img(src="img/mandala3.jpg")
        .flexGalleryCell2x2
            a(href="img/mandala4.jpg")
                img(src="img/mandala4.jpg")
    h2 Permakultur-integrierte Lebensweise
    ul
        li.
            Wir waschen unseren Körper mit reinem Bergwasser, ohne Seifen/Shampoos etc.
            ganz natürlich draußen in der freien Natur unter den Bananenpalmen.
        li.
            Das Geschirr wird genauso wie wir, auch nur mit Holzasche/Zitronensaft gespült.
        li.
            Unsere Körperausscheidungen kommen getrennt ins Kompost-Klo, was wiederum als
            Humus unter die Bäume verteilt bzw. in ein großes Erdloch,
            wo später ein Fruchtbaum gepflanzt wird.
        li.
            Das fast ganzjährig sonnige Wetter lässt es zu, dass wir die Sonne möglichst
            überall auf der nackten Haut genießen dürfen (nude-sun-yoga ist erwünscht!).
        li.
            Vegetarische Rohkost aus unserem Wildgarten stehen im Vordergrund.
            <br>Da die Fruchtbäumchen teilweise noch klein sind, erwerben wir zusätzlich
            unsere Paradieskost von regionalen Bio-Bauern & sammeln natürlich
            verschiedenste saisonale süße Wildfrüchte in unserem Wald.
        li.
            Energetisiertes gefiltertes Vulkan-Bergwasser ist ein weiterer Schlüssel
            zur Selbstheilung, genauso wie die tägliche Chlorophyll-Aufnahme durch Wildkräuter.
    h2 Philosophie und Praxis
    img(src="img/yogic.jpg").floatedRightImg
    p.
        Das Grundprinzip gibt einen psychologisches Fundament, welches aus Permakultur-Techniken
        kombiniert mit den verschiedenen Yoga-Systemen und den daraus folgenden
        Selbst-Heilungs-Mechanismen entsteht.
        <br>Jedes einzelne in sich, mit vielen Freiräumen...

        <br><br>Diese in dir zu gestalten & um dich besser kennenzulernen.
        <br>Dich selbst annehmen zu können, dadurch Selbstliebe in dir zu erspüren,
        um gleichermaßen deine Selbstheilung zu aktivieren, wodurch wir selbstbestimmt
        handeln können & in Eigenverantwortung gehen.
        <br>Um dem materiell geprägten, "krankhaften" Konsumentenverhalten zu entkommen,
        ist ein Leben im Einklang mit der Natur & der Erdenmutter notwendig.
        <br>Nur so kann ein "gesunder" natürlicher Kreislauf in und um uns entstehen.

        <br><br>Wir versuchen durch die intensive Beobachtung die Dinge der NATUR
        zu KAPIEREN (Achtsamkeit!), um die NATUR dann zu KOPIEREN. (Bewusstsamkeit!)

        <br><br>Aus diesem natürlichen Ursprung heraus, die Urkräfte in uns als
        Heilquelle zu erfahren...
include includes/footer
