doctype html
head(lang="de")
    title Mithilfe - NaturQuelle La Palma
    include includes/head
body
    include includes/header
    nav
        div#navGrid
            div.navCell: a(href="wer-wir-sind.html") Wer wir sind
            div.navCell: a(href="angebote.html") Angebote
            div.navCell: a(href="galerie.html") Galerie
            div.navCellActive: a(href="mithilfe.html") Mithilfe
            div.navCell: a(href="empfehlungen.html") Empfehlungen
            div.navCell: a(href="heilrezepte.html") Heilrezepte
            div.navCell: a(href="therapieformen.html") Therapieformen
article
    p.
        Wenn du Interesse an einem naturnahem & einfachem Leben auf der Sonneninsel hast,
        offen für ein Leben in einer kleinen Gemeinschaft bist,
        kannst du gerne für einige Tage oder Wochen beim weiteren Aufbau
        des Permakultur-Gartens mithelfen.

        <br><br>Zur Zeit würden wir uns insbesondere über handwerkliche Mithilfe im Garten freuen.
        <br>Bei Interesse melde dich gerne.
    h1 Spenden
    p.
        Falls dich unsere Philosophien ansprechen, dich dieser Ort anspricht und inspiriert oder
        du uns einfach unterstützen möchtest, kannst du uns auch gerne etwas spenden.
        <br>Wir nehmen ganz herzlichst (nachbaufähiges/samenfestes) ökologisches Saatgut, z.B.
        von Bingenheimer/ Demeter
        oder auch anderweitige Inspirationen an, wenn du uns besuchen möchtest.

        <br><br>Von ganzem Herzen wird dir gedankt, wenn du dich entscheidest uns
        auf diesem Weg zu helfen.
        <br>Wir sind auch offen für deine Inspirationen & Ideen,
        die du uns gerne auf Facebook mitteilen kannst.
    h1 Spenden-Konto
    p.
        Sparda-Bank Hannover
        <br>Kontoinhaber: Jens Warneke
        <br>IBAN: DE14 2509 0500 0001 3658 19
include includes/footer
