doctype html
head(lang="de")
    title Mithilfe - NaturQuelle La Palma
    include includes/head
body
    include includes/header
    nav
        div#navGrid
            div.navCell: a(href="wer-wir-sind.html") Wer wir sind
            div.navCell: a(href="angebote.html") Angebote
            div.navCell: a(href="galerie.html") Galerie
            div.navCellActive: a(href="mithilfe.html") Mithilfe
            div.navCell: a(href="empfehlungen.html") Empfehlungen
            div.navCell: a(href="heilrezepte.html") Heilrezepte
            div.navCell: a(href="therapieformen.html") Therapieformen
article
    h1 Natur-Heil-Sein/ Permakultur/ Yogi-famelie-home-stay...

    p.
        Wenn du Interesse an einem naturnahe & einfachem Leben auf der Sonneninsel hast, offen bist, für ein Leben in einer kleinen 8samen Yogi-Gemeinschaft, kannst du gerne für einige Tage/Wochen/Monate... beim weiteren Aufbau des Permakultur-Gartens mithelfen.
        <br><br>Zur Zeit würden wir uns insbesondere über handwerkliche/ Praxisorientierte Mithilfe im Permakultur-Familien-Projekt freuen...

        <br><br><b>Es erwartet dich:</b>
        <br>* Instinktive vegan/ vegetarische Rohkost!
        <br>* Praxisorientierte Permakultur-Kreisläufe & intrigierte yoga-philosophy!
        <br>* Unser Waldgarten liebt: Barfüssler / FKK - nackte (Sonnen-Yoga) & Meditation... Ruhe!!!

        <br><br><b>!!! Wir leben ohne !!!</b>
        <br>* Dishamonische Elektronik zB. (Mobiltelefone) oder Mp3 Beschallung!
        <br>* Stimulanzien zB. (Glutamat, chem.-Zucker, Koffein, Nikotin & jeglicher chem.-Drogen)!
        <br>* Chemische Körper-produkte oder Waschmittel! (auch keine Bioladen-Düfte--Seifen ect...)!
        <br>* Bitte kommt ohne Gerüche (nicht natürlichen Ursprungs)...

        <br><br><b>Unterkünfte in Höhlen/ Tippi/ Zelt...</b>
        <br>* Einzelhöhle mit einfacher Aussenküche, Dusche 30€/ Yogi.
        <br>* Einzel/ Doppelhöhle 20€/ 30€
        <br>* Tippi/ einzel/mehrere...
        <br>* Aussenküche, Garten/thai.-Dusche,
        <br>* Ausscheidungen: Kompost-Eimer/ Kompost-Pflanzloch, Kompost-Klo...

        <br><br>Bei Fragen/ Interesse melde dich gerne.
        <br>Email: <a href="mailto:jens-warneke@web.de">jens-warneke@web.de</a>

        <br><br>


    a(href="#TODO")
        button.
            Einverständnis Erklärung
            <br>Bitte lesen und unterschreiben!





    h1 Spende/ Energieausgleich...
    p.
        Falls dich unsere Philosophien ansprechen, dich dieser Ort anspricht und inspiriert oder du uns einfach unterstützen möchtest, kannst du uns auch gerne etwas spenden.
        <br><br>Wir nehmen auch ganz herzlichst ökologisches Saatgut z.B. (Bingenheimer/Demeter) , oder auch andersweitige Inspirationen an, wenn du uns besuchen möchtest?

    h1 Spenden-Konto
    p.
        Sparda-Bank Hannover
        <br>Kontoinhaber: Jens Warneke
        <br>IBAN: DE14 2509 0500 0001 3658 19
include includes/footer
