doctype html
head(lang="de")
    title Mithilfe - NaturQuelle La Palma
    include includes/head
body
    include includes/header
    nav
        div#navGrid
            div.navCell: a(href="wer-wir-sind.html") Wer wir sind
            div.navCell: a(href="angebote.html") Angebote
            div.navCell: a(href="gallerie.html") Gallerie
            div.navCellActive: a(href="mithilfe.html") Mithilfe
            div.navCell: a(href="empfehlungen.html") Empfehlungen
article#mithilfe
    p.
        Wenn du Interesse an einem naturnahem und einfachem Leben auf der Sonneninsel hast
        und offen für ein Leben in der Gemeinschaft bist, kannst du gerne für einige Tage
        oder Wochen beim weiteren Aufbau des Permakultur-Gartens mithelfen und dafür
        Unterbringungskosten sparen.

        <br><br>Zur Zeit würden wir uns insbesondere über handwerkliche Mithilfe im Garten freuen.
    p
        b Bei Interesse melde dich gerne über die Kontaktmöglichkeiten am Boden der Webseite.
    h1 Spenden
    p.
        Falls dich unsere Philosophien ansprechen, dich dieser Ort anspricht und inspiriert oder
        du uns einfach unterstützen möchtest, kannst du uns auch gerne etwas spenden.

        <br><br>Wir nehmen ganz herzlichst Samen, andersweitige Inspirationen oder
        Gebrauchs-Gegenstände an, wenn du uns damit unterstützen möchtest!

        <br>Von ganzem Herzen wird dir gedankt, wenn du dich entscheidest uns auf diesem
        Weg zu helfen!
include includes/footer
