doctype html
hndyead(lang="de")
    title Natur Sein - NaturQuelle La Palma
    include includes/head
body
    include includes/header
    nav
        div#navGrid
            div.navCell: a(href="wer-wir-sind.html") Wer wir sind
            div.navCellActive: a(href="angebote.html") Angebote
            div.navCell: a(href="galerie.html") Galerie
            div.navCell: a(href="mithilfe.html") Mithilfe
            div.navCell: a(href="empfehlungen.html") Empfehlungen
            div.navCell: a(href="heilrezepte.html") Heilrezepte
            div.navCell: a(href="therapieformen.html") Therapieformen
article#seminar
    div#seminarBlock
        img(src="img/natur-sein.jpg")
        h1 Natur & Sein
        p.
            <b>10 Tage-Retreat</b>
            <br><br>Zurück zur Natur
            <br>Zurück zu meinem wahren Ich
            <br><br>Selbstheilungskräfte aktivieren
    h1 Info Retreat
    p.
        Wir möchten dich herzlich in die pure Natur La Palmas einladen.

        <br><br>Es geht darum, dass du dich in diesem Retreat mit der Natur & den Elementen rückverbindest, was dich in deinem Wesenskern ausmacht. Dich wieder als Teil der Natur spürst, in deiner kraftvollen Natürlichkeit, Kreativität & Lebendigkeit, in deinem authentischen Selbstausdruck.

        <br><br>Für deine fundermentalsten Bedürfnisse, schaffst Du jetzt Raum & Zeit. Deine körprwarnehmungen in der Natur, die dich zuverlässig durch dein Leben navigieren, schaffen nun wieder Vertrauen in dir, dich wieder mit deinen inneren Ressourcen zu verbinden, & deinen Reichtum zu spüren.

        <br><br>Die tägliche natürliche geerdete Lebensweise, im Einklang mit dir & dem Wald, in einer Höhlen oder im Zelt  unter dem kosmischen Sternenhimmel, lässt dich ganz frei, von sonstigen Ablenkungen "natürliche Normalität" erfahren.

        <br><br>Du darfst dich von dem Rhythmus der Natur tragen lassen. Lernst & erfährst Dich selber noch besser in deiner Ursprünglichkeit. In Dir erkennst du nun deine gesellschaftlichen Dogmen und Programmierung.

        <br><br>Deine Begleiter auf der Reise zu dir Selbst, sind unter anderem die Vibrationen der Natur, der Vögel & Insekten. Unterschidliche Aromatherapie der Blumen & Fruchtbäume, das rauschen des Pinienwaldes!

        <br><br>So tauchst du ein, in eine Ruheoase, in deine Selbstliebe, wo innerer Frieden & Heilung möglich ist.
        Deine Selbstheilungskräfte werden jetzt aktiviert!

        <br><br>Es erwartet dich, weder Luxus noch ein Konsumfertiges Programm. Sondern ein primitives & ursprüngliches Leben, in der wilden puren Natur, wo rohe Urkräfte wirken, die deine Seele durchschütteln werden.
        Ein Wald-Garten in dem du liebevoll als du selbst, leben/ lernen & deine Selbstermächtigung entfalten darfst.

        <br><br>Im Ramen einer sich bestärkenden sozialen Permakultur, deinen einzigartigen & spezifischen Beitrag, für den Wandel in Dir & der Zeit zu leisten.

    h1 Voraussetzungen
    p.
        Ein gewisses Maß an Offenheit & 8amkeit, in Dir & dem Ego!
        <br>Du liebst die natürliche Ruhe, ohne Ablenkung durch mobile Technik!
        <br>Barfuß, geerdet & verwurzelt mit unserer Erdmutter!

        <br><br>Lust auf Rohköstliches, wandern & sesonale Nahrungs, Suche im Garten & der Wildnis...


    h3 Bitte beachte!!!
    p.
        Wir weisen darauf hin: das Retreat - Gelände / der Schlucht - Garten, ist in seiner natürlichen wilden Form! Es gibt keine Abgrenzungen / Geländer. Dies ist für Dich zu beachten! Wir übernehmen keine Haftung!!!

    h3 Nicht gestattet!!!          
    p.
        Jegliches offenes Feuer!!!   Kerzen/ Zigaretten/ Räucherstäbchen/ ect... WALDBRAND GEFAHR!!!
        <br><br>Jegliche Chemikalien!!!   Waschmittel/ Schampoo/ Seife/ Deo/ Parfüms/ Zahnpasta/ ect...
        <br><br>Alkohol/ Drogen/ ect...
        <br><br>Bitte verstehe, dies ist zum Schutz der Natur & deines Körpers & Sensibilität, zum Respekt & Schutz aller Lebewesen, danke :-)

    h1 Programm
    p.
        Das Retreat enfaltet sich individuell und flexibel nach deinen Bedürfnissen. Dies ermöglicht dir Raum & Zeit für deine Freiheit & Sein.

        <br><br>Bitte an die Mitnahme von Kopflampe / Schlafsack ggf. yogamatte denken!

    h1 Seminarbegleiter
    p.
        Jens Warneke (Aom Swastika)
        <br>evt. Mrs. Jid Kamsai (Permakultur-Projekt Esan/Thail.)


    h1 Energieausgleich: für dein Retreat!
    p.

     750 €- 900€/ Erdenmensch!
     <br>Gerne darfst Du auch einen Wert, nach Selbsteinschätzung geben.

    h3 Dein Rückzugsort & Schlafplatz:
    p.
        Einzelhöhle mit Außenküche/ Dusche 30€/Erdenmensch
        <br>Doppelhöhle 20€/Erdenmensch


    h3 Verpflegung
    p.
        Gefiltertes Vulkan Berg - Wasser!
        <br>Nahrungsmittel sind nicht in den Seminarkosten enthalten!

        <br><br>Du hast die Möglichkeit, ökologische  Rohköstlichkeiten, vegetarisch/ vegane Lebenssmittel, insbesondere je nach Saison, süsses exotisches Obst & Gemüsesorten auf dem regionalen Bauernmarkt (Sa. +So.) in Puntagorda günstig zu erwerben. In der Nähe gibt es auch einen Bioladen...

        <br><br>Du erreichst all diese Ziele von uns, über wunderschöne Wanderwege, per Daumen (die Insel ist sehr anhalterfreundlich) oder mit dem lokalen Bus. Eine Bushaltestelle ist in ca. 7 Min. von deinem Platz gut  zu erreichen.

    h1 Selbstorganisierte Anreise
    p.
        Die Flüge sind günstig (ab 50 Euro) über
        <a href="www.skyscanner.de">www.skyscanner.de</a> einsehbar.
        <br>(Flugziel ist Santa Cruz de La Palma mit Flughafencode: SPC)

        <br><br>Vom Flughafen kannst du die Busverbindung 200 nach Santa Cruz,
        anschließend die Busverbindung 300 nach Los Llanos und zuletzt 100 oder 106
        nach Las Tricias, nehmen.

        <br><br>Die Handy-App <b>Guaguas La Palma</b> zeigt alle Busverbindungen der Insel mit
        Uhrzeiten und Haltestellen.
        <br><a href="img/busses.jpg">Hier ist eine Übersicht
        aller Bus-Hauptlinien der Insel</a>

        <br><br>Vor Reiseantritt kann per E-Mail oder WhatsApp Kontakt zwischen den anderen
        Teilnehmern aufgebaut werden, sodass eine gemeinsam organisierte Ankunft
        ermöglicht und vereinfacht werden kann.
    h1: b Zur ANMELDUNG
    p.
        Kontaktiere uns bitte per E-Mail mit:

        <br><br>Betreff:" NaturQuelle"  Anmeldung/ Fragen
        <br><a href="mailto:naturquelle.lapalma@gmail.com">naturquelle.lapalma@gmail.com</a>

        <br>
        <br>

    a(href="#TODO")
        button.
            Einverständnis Erklärung
            <br>Bitte lesen und unterschreiben!

    h1 Spenden-Konto
    p.
        Sparda-Bank Hannover
        <br>Kontoinhaber: Jens Warneke
        <br>IBAN: DE14 2509 0500 0001 3658 19
include includes/footer
