doctype html
hndyead(lang="de")
    title Natur Sein - NaturQuelle La Palma
    include includes/head
body
    include includes/header
    nav
        div#navGrid
            div.navCell: a(href="wer-wir-sind.html") Wer wir sind
            div.navCellActive: a(href="angebote.html") Angebote
            div.navCell: a(href="galerie.html") Galerie
            div.navCell: a(href="mithilfe.html") Mithilfe
            div.navCell: a(href="empfehlungen.html") Empfehlungen
            div.navCell: a(href="heilrezepte.html") Heilrezepte
            div.navCell: a(href="therapieformen.html") Therapieformen
article#seminar
    div#seminarBlock
        img(src="img/natur-sein.jpg")
        h1 Natur & Sein
        p.
            <b>10 Tage-Retreat</b>
            <br><br>Zurück zur Natur
            <br>Zurück zu meinem wahren Ich
            <br><br>Selbstheilungskräfte aktivieren
    h1 Info
    p.
        Wir möchten dich herzlich in die pure Natur La Palmas einladen.

        <br><br>Es geht darum, dass du dich in diesem Retreat mit der Natur & den Elementen
        rückverbindest, was dich in deinem Wesenskern ausmacht.
        <br>Dich wieder als Teil der Natur spürst, in deiner kraftvollen Natürlichkeit,
        Kreativität & Lebendigkeit, in deinem authentischen Selbstausdruck.

        <br><br>Für deine fundamentalsten Bedürfnisse schaffst du jetzt Raum & Zeit.
        <br>Deine Körperwahrnehmungen in der Natur, die dich zuverlässig durch dein Leben
        navigieren, schaffen nun wieder Vertrauen in dir, dich wieder mit deinen inneren
        Ressourcen zu verbinden & deinen inneren Reichtum zu spüren.

        <br><br>Die natürliche, geerdete Lebensweise, im Einklang mit dir & dem Wald,
        in einer Höhle oder im Zelt unter dem kosmischen Sternenhimmel, lässt dich ganz frei,
        von sonstigen Ablenkungen "natürliche Normalität" erfahren.

        <br><br>Du darfst dich von dem Rhythmus der Natur tragen lassen.
        <br>Lernst & erfährst dich selber noch besser in deiner Ursprünglichkeit.
        <br>In dir erkennst du nun deine gesellschaftlichen Dogmen und Programmierungen.

        <br><br>Deine Begleiter auf der Reise zu dir Selbst sind unter anderem die
        Vibrationen der Vögel & Insekten.
        <br>Die Aromatherapie der Blumen & Fruchtbäume, das Rauschen des Pinienwaldes oder
        die Mannigfaltigkeit der Schmetterlinge.

        <br><br>So tauchst du ein, in eine Ruheoase, in deine Selbstliebe, wo innerer
        Frieden & Heilung zu finden sind.
        <br>Deine Selbstheilungskräfte werden jetzt aktiviert!

        <br><br>Es erwarten dich weder Luxus noch ein konsumfertiges Programm,
        sondern ein primitives & ursprüngliches Leben, in der wilden puren Natur,
        wo rohe Urkräfte wirken, die deine Seele durchschütteln werden.
        <br>Ein Wald Garten in dem du liebevoll als du selbst, leben / lernen &
        deine Selbstermächtigung entfalten darfst.

        <br><br>Im Rahmen einer sich bestärkenden sozialen Permakultur, deinen einzigartigen &
        spezifischen Beitrag, für den Wandel in dir & der Zeit zu leisten.
    h1 Voraussetzungen
    p.
        Ein gewisses Maß an Offenheit, in dir!
        <br>Du liebst die natürliche Ruhe, ohne Ablenkung durch mobile Technik!
        <br>Lust auf Rohköstliches, Wandern & saisonale Nahrungssuche in Garten & Wildnis...

    h3 Bitte beachte!!!
    p.
        Wir weisen darauf hin: das Retreat-Gelände/ der Schlucht-Garten,
        ist in seiner natürlichen wilden Form!
        <br>Es gibt keine Abgrenzungen/ Geländer.

        <br><br>Dies ist für dich & dein Kind zu beachten! Wir übernehmen keine Haftung!!!
    h3 Nicht gestattet!!!          
    p.
        Jegliches offenes Feuer!!!
        <br>Kerzen/ Zigaretten/ Räucherstäbchen/ etc. WALDBRANDGEFAHR!!!

        <br><br>Jegliche Chemikalien!!!
        <br>Waschmittel/ Shampoo/ Seife/ Deo/ Parfüms/ Zahnpasta/ etc. & Alkohol/ Drogen etc.

        <br><br>Bitte verstehe, dies ist zum Schutz der Natur & deines Körpers & Sensibilität,
        zum Respekt & Schutz aller Lebewesen, danke :-)
    h1 Programm
    p.
        Das Retreat entfaltet sich individuell und flexibel nach deinen Bedürfnissen.

        <br><br>Dies ermöglicht dir Raum & Zeit für deine Freiheit & Sein.

        <br><br>Das Retreat ist fast komplett praxisorientiert und schließt alternative
        Lebensweisen mit ein.

        <br><br>Für die Entgiftung wäre es von Vorteil, wenn ihr eure Detoxsachen mitbringt wie
        etwa Klistier/ Irrigator.
        <br>Jedem steht hier frei, nach seinen individuellen Bedürfnissen zu fasten & das
        Leber- und Gallenblasenreinigungs Programm nach Andreas Moritz mit Anleitung
        durchzuführen.

        <br><br>Euch erwarten regelmäßige Wildkräuter Chrolophyll Energiegetränke.
    h1 Dein Rückzugsort & Schlafplatz
    p.
        Nach deinen speziellen Wünschen & Bedürfnissen in Zelt oder Höhle:

        <br><br>In ursprünglichen Höhlen für eine Person: + 15€/ Nacht;
        für zwei Personen: + 10€/ Nacht pro Person.

        <br><br>Alternativ kannst du in deinem eigenen mitgebrachten Zelt oder einem von
        uns zur Verfügung gestellten Zelt für + 5€/ Nacht unterkommen.

        <br><br><b>Bitte an die Mitnahme von Kopflampe, Schlafsack ggf. Yogamatte denken!</b>
    h1 Seminarbegleiter
    p.
        Jens Warneke (Aom Swastik)

        <br><br>Alicia Fiedler, Dima Butemann
    h1 Teilnehmerzahl: 5 - 7 maximal
    h1 Energieausgleich für dein Retreat
    p.
        Mindestens 400€ pro Erdenmensch!
        <br>Gerne darfst du auch einen Wert, nach Selbsteinschätzung geben.
    h3 Verpflegung
    p.
        Gefiltertes Vulkan-Bergwasser!
        <br>Nahrungsmittel sind nicht in den Seminarkosten enthalten!

        <br><br>Du hast die Möglichkeit ökologische Rohköstlichkeiten,
        vegetarisch/ vegane Nahrungsmittel, insbesondere je nach Saison süßes exotisches
        Obst & Gemüsesorten auf dem regionalen Bauernmarkt (Sa. + So.) in Puntagorda
        günstig zu erwerben.
        <br>In der Nähe gibt es auch einen Bioladen.

        <br><br>Du erreichst all diese Ziele von hier aus über wunderschöne Wanderwege,
        oder per Daumen (die Insel ist sehr anhalterfreundlich).
        <br>Eine Bushaltestelle ist ebenso in ca. 7 Min. von diesem Platz aus gut zu erreichen.
    h1 Selbstorganisierte Anreise
    p.
        Die Flüge sind günstig (ab 50 Euro) über
        <a href="www.skyscanner.de">www.skyscanner.de</a> einsehbar.
        <br>(Flugziel ist Santa Cruz de La Palma mit Flughafencode: SPC)

        <br><br>Vom Flughafen kannst du die Busverbindung 200 nach Santa Cruz,
        anschließend die Busverbindung 300 nach Los Llanos und zuletzt 100 oder 106
        nach Las Tricias, nehmen.

        <br><br>Die Handy-App <b>Guaguas La Palma</b> zeigt alle Busverbindungen der Insel mit
        Uhrzeiten und Haltestellen.
        <br><a href="img/busses.jpg">Hier ist eine Übersicht
        aller Bus-Hauptlinien der Insel</a>

        <br><br>Vor Reiseantritt kann gerne per E-Mail oder WhatsApp Kontakt zwischen den anderen
        Teilnehmern aufgebaut werden, sodass eine gemeinsam organisierte Ankunft
        ermöglicht und vereinfacht werden kann.
    h1: b Zur ANMELDUNG
    p.
        Kontaktiere uns bitte per E-Mail mit:

        <br><br>Betreff:" NaturQuelle"  Anmeldung/ Fragen
        <br><a href="mailto:naturquelle.lapalma@gmail.com">naturquelle.lapalma@gmail.com</a>
    h1 Spenden-Konto
    p.
        Sparda-Bank Hannover
        <br>Kontoinhaber: Jens Warneke
        <br>IBAN: DE14 2509 0500 0001 3658 19
include includes/footer
