doctype html
head(lang="de")
    title Wer Wir Sind - NaturQuelle La Palma
    include includes/head
body
    include includes/header
    nav
        div#navGrid
            div.navCellActive: a(href="wer-wir-sind.html") Wer wir sind
            div.navCell: a(href="angebote.html") Angebote
            div.navCell: a(href="galerie.html") Galerie
            div.navCell: a(href="mithilfe.html") Mithilfe
            div.navCell: a(href="empfehlungen.html") Empfehlungen
            div.navCell: a(href="heilrezepte.html") Heilrezepte
            div.navCell: a(href="therapieformen.html") Therapieformen
article#werwirsind
    div
        img(src="img/jens-jid.jpg")
        h1  Jen & Jid  (Aom - Swastik)
        h4 NATURQUELLE , LA PALMA, März 2019
        p.
            Jens Warneke, geb. 1972 Niedersachsen
            <br>Jid Kamsai, geb. 2517 Siam, Esan

            <br><br>Wir arbeiten & therapieren 'uns' nun 17 Jahre in & mit natürlichen Dingen,
            lebten viele Jahre in Wälder des Weserbergland & Hartz-Gebirges & waren schon
            immer Klima-Flüchtlinge, so reisten wir Winter für Winter in
            Richtung Sonne, Früchte, Kräuter & verschiedene Kulturen.
            Lernten interessante Projekte & Heiler kennen, was wir in unseren Yoga-Systemen
            integrieren konnten.

            <br><br>Winter 2009 bekamen wir eine Intuition, Deutschland endgültig zu verlassen,
            strandeten auf dieser 'atlantischen' Vulkan-Insel "La Palma".
            Es zog uns magisch, in diese romantische Natur mit Pinien-Wald-Schlucht &
            Sonnenuntergang.
            Anfangs lebten & arbeiteten wir hart in diesem Baranco, vergrößerten Höhlen zum Wohnen,
            bauten Terrassen um Frucht-Bäume zu Pflanzen.
            Parallel zum täglichen Permakultur Projekt, integrierten wir unterschiedliche
            Selbstheilungs-Techniken.
            <br>Intensive Ganzkörper-Sonnenbestrahlung, die jodhaltige Meerluft & der Pinien-Wald
            geben uns Energie, Heilung, Bewußtsein, ein glückseeliges selbstbestimmtes Leben.
            Diese Vulkan-Energie & Kraftplatz der Guanchen (Ureinwohner), helfen uns auf
            allen Ebenen, Licht zu empfangen auf eine Herzöffnung..... Selbstliebe zu erfahren,
            dadurch alte Programmierungen zu löschen.
        img(src="img/jens-meditation.jpg").noMarginTop
        p.
            Dank & Heil, den intensiven natürlichen Lebensweisen & der daraus folgenden
            Selbstheilungs-Erkenntnisse, fühlen wir uns jetzt berufen, unsere Erfahrungen
            aus der Lichtebene, sensitiven Menschen eine Inspiration
            zu geben, Selbstheilung zu aktivieren! Erwacht & in Eigenverantwortung zu Leben!

            <br><br>Wir verbinden: eine holistisch natürliche Ernährung / Permakultur-Techniken /
            Yoga-Philosophie (Modelle), die
            Selbstheilungs-Systeme aktivieren!!!

            <br><br>Licht & Liebe
            <br>Jen & Jid

            <br><br>Die intakte Natur, hält die Schwingung!
            <br>Das UNIVERSUM sorgt für uns...

            <br><br>Der Vogel zeigt dir, was du essen kannst!
            <br>Gesund & stark wie der Büffel,
            <br>Chlorophyll ist der Schlüssel...

include includes/footer
